*{
    margin : 0;
    padding: 0;
    /* box-sizing:border-box; */

}
/***Navbar*/
.navbar{
    display: flex;
    /* justify-content: center; */
   
    background-color:black;
    position: sticky;
    top: 0;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
    /* align-items: center; */

}
.navbar ul li{
    font-family: century;
    font-size: 1.1 rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: #94DAFF;
    padding:  8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: #94DAFF;
    color:#396EB0;
    box-shadow: 0 0 10px white;
}
.letterJ{
    height: 50px;
    border-radius: 100px;
    margin-left: 0px;
    justify-content: left;
    align-items:flex-start;
    margin-top: 5px;
    margin-left:10px ;
    margin-right: 450px; */

}

/* Home section */
#home{
    display:flex;
    flex-direction: column;
}
#home::before{
    content: " ";
    position: absolute;
    top:0;
    right:0;
    /*background: url();*/

}
/*///////////////////////////////////////////////////////////////////////////////////////*/
body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather ',serif;
    font-size: 18px;
    color: black;

}
p{
    line-height: 2;
}
hr{   
    border: dotted #DDDDDD 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}



h1{
    margin: 50px auto 0 auto;
    top:20px;
    font-family: 'Sacramento', cursive;
    color:#94DAFF ;
    font-size: 5.625rem;
    }
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color:#21273D ;
    padding-bottom: 10px;
    }
h3{
    font-family: 'Montserrat', sans-serif;
    color:#396EB0;
}
a{
    color:#396EB0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
}
a:hover{
    color: #eaf6f6;
}
/* .top-container{
    background-color: #F7D9D9; 
    position:relative;
    padding:100px;
} */
.myImage{
    border-radius: 100%;
    height: 250px;
    margin-top: 60px;
}
.pbspeaking{
    float:left;
    margin-right: 30px;
    width: 25%;
}
.writing{
    float:right;
    margin-left: 30px;
    width: 25%;
}
.manage{
    border-radius: 100%;
    float:left;
    margin-right: 30px;
    width: 25%;
    height: 175px;
}


.stu{
    font-weight: normal;
    margin-bottom: 2px;
    color: #DDDD;
}
.me{
    width:40%;
    margin:auto;
    font-size: 20px;
}
.skills{
    background: linear-gradient(to left, black, #21273D);
    height: 1000px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    color: #94DAFF;

} 
.my{
    color:#94DAFF;
    padding-top: 20px;
} 
.middle-container{
    padding: 100px 0;
    background-color: #DDDD;
}
.bottom-container{
    background: linear-gradient(to left, black, #21273D);
    padding:50px 0 20px;
    margin: 0;
    color: #94DAFF;
    
}
/****************************Education*/
.education{
    font-family: 'Merriweather ',serif;
    margin-top: 50px;
    margin-left: 300px;
    margin-bottom: 50px;


  }
}
#edu{
    font-size: 20px;
    margin-left: auto;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
#edu thead tr {
    background-color: #21273D;
    color: #94DAFF;
    text-align: left;
}
#edu th,
#edu td {
    padding: 12px 15px;
}
#edu tbody tr {
    border-bottom: 1px solid #21273D;
}

#edu tbody tr:nth-of-type(even) {
    background-color: #94DAFF;
}

#edu tbody tr:last-of-type {
    border-bottom: 2px solid #21273D;
}
.#edu tbody tr.active-row {
    font-weight: bold;
    color: #337FED;
}

.contactmsg{
    width:40%;
    margin:40px auto 60px;
}
.it{
    background: linear-gradient(to left, black, #21273D);
    padding:50px 0 20px;
    margin: 0;
    color: #94DAFF;
    align-items: left;

}
    

.btn {
    background: #396EB0;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    height: 10px;
    line-height: 10px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    width: 167px;
    font-size: 20px;
    font-weight: 400;
    padding: 16px;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #337FED 1px;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
 }
     .foot{
         color: #eaf6f6;
         font-size: 1rem;
         padding: 20px 0;
         text-decoration: none;
     }




/*??????iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii*/


.animation-area {
	background: linear-gradient(to left, black, #21273D);
	width: 100%;
	height: 100vh;
}

.box-area {
	 /* position: absolute;  */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
} 





















